---
title: EE Iron Works
pageclass: home
permalink: home
---

<div class="float">
	<div class="iframe-container">
		<h1>EE Iron Works<span>Chattanooga, TN</span></h1>
	    <iframe class="iframe" src="https://player.vimeo.com/video/218861893?title=0&byline=0&portrait=0&color=3a6774&autoplay=1&loop=1&background=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	    <img class="iframe-image" src="./assets/imgs/screenshot.jpg" alt="screenshot" />
	</div>
</div>

<img class="logo-image" src="./assets/imgs/eeironworks-white.png">

<button class="down js-down">
	<span class="glyphicons glyphicons-chevron-down"></span>
</button>

<div class="float">
	<div>
		<h2>
			ARCHITECTURAL IRONWORK, PUBLIC ART & SCULPTURE
		</h2>
		<p>
			Holzman Iron Studio is a Philadelphia-based team of artists and designers led by a noted blacksmith and visual artist. Custom architectural ironwork, public art, and sculpture are created in our unique fabrication environment, combining Old World craftsmanship with the latest in technology.
		</p>
	</div>
</div>

<div class="float">
	<div class="picture-gallery">
		tabs
	</div>
</div>

<div class="float">

	<img src="" alt="" title=""/>

	<div>

		<h2>
			OUR SERVICES
		</h2>

		<p>
			Holzman Iron Studio is a Philadelphia-based team of artists and designers led by a noted blacksmith and visual artist. Custom architectural ironwork, public art, and sculpture are created in our unique fabrication environment, combining Old World craftsmanship with the latest in technology.
		</p>

		<ul>
			<li>Design and Engineering</li>
			<li>Project Management</li>
			<li>Forging</li>
			<li>Fabrication</li>
			<li>CNC and Manual Machining</li>
			<li>Laser Cutting</li>
			<li>Custom Finishing</li>
			<li>Installations</li>
			<li>3D Modeling</li>
		</ul>

	</div>

</div>

<div class="float">

	<img src="" alt="" title=""/>

	<div>

		<h2>
			MATERIALS WE WORK WITH
		</h2>

		<p>
			Our team possesses decades of combined experience in working in a wide array of mediums, from the most common to the most complex.
		</p>

		<ul>
			<li>Carbon Steel</li>
			<li>Alloy Steels</li>
			<li>Stainless Steel</li>
			<li>Bronze</li>
			<li>Exotic Metals</li>
			<li>Monel</li>
			<li>Inconel</li>
			<li>Nickel 500</li>
		</ul>

	</div>

</div>

<div class="float background-image">
	<div class="image-left">
		<div>
			<img src="" alt="" />
		</div>
		<div>
			<h2>Our Founder</h2>
			<p>
				Throughout his career as an artist and blacksmith, Warren Holzman has designed and created many noteworthy commercial and public works both locally and around the globe. A master craftsman with a passion for education, Warren teaches metal forging at Bryn Athyn College — where he has also executed an array of historically sympathetic new metalwork for Glencairn Museum and Bryn Athyn Cathedral.
			</p>
		</div>
	</div>
</div>

<div class="float footer">
	<div class="footer-top">
		<h1>Ready to Get Started? Tell us more about your project.</h1>
		<a href="#" class="contact-us">Contact Us </a>
		<div class="hidden-contact div">
			contact form
		</div>
	</div>
	<div class="footer-middle">
		<div>
			logo
			icon icon
			address
		</div>
		<div>
			Sign up for updates from EE Iron Works Ltd.
			input form
		</div>
	</div>
	<div class="footer-bottom">
		&copy; Holzman Iron Studio, LTD, All Right Reserved.
	</div>
</div>