/* general/helper variables
----------------------------------------------------------------------------------------------------------------------*/
$img-path : '../imgs/';

// $depth: ();
// $spacing-base: 32px;

/* fonts
----------------------------------------------------------------------------------------------------------------------*/

$icon-font-path: '../fonts/';
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700');
$font-family-base: 'Bitter', serif;
$icon-font:"Glyphicons Halflings";

/* colors
----------------------------------------------------------------------------------------------------------------------*/
$white : #fff;
$black : #000;
$blue: #39619b;
$dark-blue: darken($blue, 6.5%);
$brand-primary: $blue;
$brand-success: #58d144;
$brand-success-background: #cdf2c7;
$teal:#6cc3a3;
$yellow:#f9e04e;
$orange:#d98137;
$purple:#5f255c;
$aqua:#4aafcf;
$aqua-light:#70bac3;
$rust:#ce433b;
$brown: #6d5c54;
$dark-brown: #5c4f46;
$darker-brown: #372e29;

/* game colors
----------------------------------------------------------------------------------------------------------------------*/
$bridges-water:#70bac3;
$bridges-sand: #ffd67d;

/* let's get social, the media!
----------------------------------------------------------------------------------------------------------------------*/
// $color-facebook: #3b5998;
// $color-google-plus: #dd4b39;
// $color-twitter: #55acee;


/* bootstrap overrides
----------------------------------------------------------------------------------------------------------------------*/
$font-size-base:          		16px;
$navbar-margin-bottom: 			0;

//== Breadcrumbs
//
//##

$breadcrumb-padding-vertical:   0;
$breadcrumb-padding-horizontal: 0;
//** Breadcrumb background color
$breadcrumb-bg:                 transparent;
//** Breadcrumb text color
$breadcrumb-color:              $white;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:       $white;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:          ">" !default;

$border-radius-base:        8px;
$border-radius-large:       12px;
$border-radius-small:       4px;

/* slick overrides
----------------------------------------------------------------------------------------------------------------------*/


/* blockui overrides
----------------------------------------------------------------------------------------------------------------------*/
