<div class="iframe-container">
	<h1><span>EE</span> Iron Works</h1>
    <iframe class="iframe" src="https://player.vimeo.com/video/218861893?title=0&byline=0&portrait=0&color=3a6774&autoplay=1&loop=1&background=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <img class="iframe-image" src="./assets/imgs/screenshot.jpg" alt="screenshot" />
</div>
